@page
@model RamunisrealtNET.Views.Home.StartModel
@{
}
<form asp-action="Startsite" asp-controller="Home" asp-anti-forgery="true">

    <input type="submit" value="Start" class="btn btn-sm btn btn-outline-dark" />
    
</form>